<ul class="sidebar-menu" data-widget="tree">
    <li class="header">Paneles</li>
    <li class="treeview">
      <a href="#"><i class="fa fa-database"></i> <span>Administración</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>

      <ul class="treeview-menu">
        <li><a href="panel.php?panel=clientes">Clientes</a></li>
        <li><a href="panel.php?panel=usuarios">Usuarios</a></li>
      </ul>
    </li>

    <li class="treeview">
      <a href="#"><i class="fa fa-bar-chart"></i> <span>Estadisticas</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>

      <ul class="treeview-menu">
        <li><a href="panel.php?panel=estadisticas">Accesos</a></li>
      </ul>
    </li>

    <li class="treeview">
      <a href="#"><i class="fa fa-database"></i> <span>Datos</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li><a href="panel.php?panel=import">Importar Datos</a></li>
        <!-- <li><a href="ImportXML.php?name=<?php //echo ($_SESSION['ClienteXMLFileName']) ?>">Actualizar Socios</a></li> -->
      </ul>
    </li>
    
    <li>
      <a href="login.php"><i class="fa fa-close"></i><span>Cerrar Sessión</span></a>
    </li>
</ul>